@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap'); 

$color-gray: #474749;
$color-white: white;
$color-green: rgb(0, 255, 34);
$font-plus: "Plus Jakarta Sans", sans-serif;
$color-black: black;
